---
layout: default
title: Home
color: "#003366"
---
<!-- <div class="hero" style="background-image: url({{ site.baseurl }}images/turbineLandscape.jpg); background-color: {{ site.colors.CanhamPoolBlue }};"></div> -->

<div class="posts">
{% for post in paginator.posts %}
{% if post.image %}
<div class="preview-hero" style="background-image: url({{ site.baseurl }}images/{{ post.image }});">
{% else %}
<div class="preview-hero">
{% endif %}
<div class="preview-container">
    <h2 class="preview-title">
      <a class="preview-link" href="{{ site.baseurl }}{{ post.url | remove_first:'/' }}">
        {{ post.title }}
      </a>
    </h2>
    {% if post.subtitle %}
    <h3 class="post-subtitle">
        {{ post.subtitle }}
    </h3>
    {% endif %}
        <time datetime="{{ post.date | date_to_xmlschema }}" class="page-date">{{ post.date | date_to_string }}</time>
</div>

</div>
{% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
