---
layout: default
title: Home
color: "#003366"
---
<div class="white-space"> </div>
<div class="posts">
{% for post in paginator.posts %}
<div class="preview-hero">
<div class="preview-container">
    <time datetime="{{ post.date | date_to_xmlschema }}" class="page-date right-align">{{ post.date | date_to_string }}</time>
    <h2 class="preview-title left-align">
      <a class="preview-link" href="{{ site.baseurl }}{{ post.url | remove_first:'/' }}">
        {{ post.title }}
      </a>
    </h2>
    {% if post.subtitle %}
    <h3 class="post-subtitle">
        {{ post.subtitle }}
    </h3>
    {% endif %}
</div>

</div>
{% endfor %}
</div>
