<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  {% if page.title == "Home" %}
  <body>

    <!-- <div class="pagination">
      {% if paginator.next_page %}
        <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
      {% else %}
        <span class="pagination-item older"></span>
      {% endif %}
      {% if paginator.previous_page %}
        {% if paginator.page == 2 %}
          <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
        {% else %}
          <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
        {% endif %}
      {% else %}
        <span class="pagination-item newer"></span>
      {% endif %}
    </div> -->

  {% else %}
  <body>
  {% endif %}
    <div class="container content">

      <header class="masthead">
        <h3 class="masthead-title">
          <a href="{{ site.baseurl }}" title="Home">{{ site.title }}</a>

          {% for page in site.pages_list %}
            &nbsp;&nbsp;&nbsp;
            <small><a style="padding-left: 2em" href="{{ site.baseurl }}{{ page[1] }}">{{ page[0] }}</a></small>
          {% endfor %}
        </h3>
      </header>

      <div class="white-space">
      </div>

      {% if page.image %}
      <div class="hero" style="background-image: url({{ site.baseurl }}images/{{ page.image }});">
      <div class="title-container">
        <h1 class="hero-title">{{ page.title }}</h1>
        {% if page.date %}
        <time datetime="{{ page.date | date_to_xmlschema }}" class="page-date" style="color: {{ site.colors.Blue }};">{{ page.date | date_to_string }}</time>
        {% endif %}
      </div>
      </div>
      {% endif %}

      <main>
        {{ content }}
      </main>

      <footer class="footer">
        <small>
          {% if page.date %}
          &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time> All rights reserved.
          {% endif %}
        </small>
      </footer>
      {% if page.title != "Home" %}
      <div class="hero-color" style="background-color: {{ site.colors.Blue }};"></div>
      {% endif %}
  </body>
</html>
