<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <div class="container content">
      <header class="masthead">
        <h3 class="masthead-title">
          <a href="/" title="Home">{{ site.title }}</a>

          {% for page in site.pages_list %}
            &nbsp;&nbsp;&nbsp;
            <small><a href="{{ page[1]  }}">{{ page[0] }}</a></small>
          {% endfor %}
        </h3>
      </header>

      <main>
        {{ content }}
      </main>

      <footer class="footer">
        <small>
          &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.
        </small>
      </footer>
    </div>

  <script>
  $(function() {
    return $("h2, h3, h4, h5, h6").each(function(i, el) {
      var $el, icon, id;
      $el=  $(el);
      id = $el.attr('id');
      icon = '<i class="fa fa-link"></i>';
      if (id) {
        return $el.prepend($("<a />").addClass("header-link").attr("href", "#" + id).html(icon));
      }
    });
  });
  </script>
    

  </body>
</html>
